/* Base Styles */

/* Base HTML/Body setup */
html,
body {
  background-color: var(--color-background);
  /* Disable bounce */
  overscroll-behavior: none;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  overscroll-behavior: none;
}

/* Global scrollbar customization */
/* Webkit（Chrome, Edge, Safari etc...） */
::-webkit-scrollbar {
  /* For vertical scrollbar */
  width: 6px;
  /* For horizontal scrollbar */
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
  border-radius: var(--radius-sm);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-thumb-hover);
}
